@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

}
html{
    font-size: 16px;
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
}
section .imgBx{
    position: relative;
    width: 50%;
}
.imgBx img{
    width: 100%;
    height: 100vh;
}
section .contentBx{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

}
section .contentBx .formBx{
    width: 50%;
}
section .contentBx .formBx h2{
    color: #607d8b;
    font-weight: 600;
     font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 0.4em;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;
}
section .contentBx .formBx .input-box{
     margin-bottom: 0.82em;
}
section .contentBx .formBx .input-box [for="Name"], [for="Password"]{
    font-size:1rem;
    color: #607d8b;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing:0.56px;
}
section .contentBx .formBx .input-box  #Name, #Password{
    width:100%;
    padding: 0.625em 1.125em;
    outline:none;
    font-weight:800px;
    border:1px solid #607d8b;
    font-size:1rem;
    letter-spacing:0.7px;
    color:#303d44;
    border-radius:30px;
    background:transparent;
}
button{
    background:#ff3075;
    width:100%;
    padding: 0.625em 1.125em;
    outline:none;
    border:none;
    font-weight:800px;
    font-size:1rem;
    letter-spacing:0.7px;
    color:white;
    border-radius:30px;
    cursor:pointer;
}
button:hover{
     background:rgb(255, 0, 85) ;
}
.remember-me{
    color:#607d8b;
    font-weight:400;
    font-size:0.8rem;
}
.sign-up p {
    color:#607d8b
}
.sign-up p a {
    color: #ff4584;
    text-decoration: none;
}
.sign-up p a:hover{
    text-decoration: underline;
}

.social-media{
    color:#607d8b;
    text-align:center;
    font-weight:500;
    margin: 2em 0.00001em 0.00001em 0.00001em ;
}
.icons{
    margin: 1em 0.00001em 0.00001em 0.00001em ;
}
.icons ul{
    display: flex;
    gap: 1rem;
    justify-content:center;
    align-items:center;
}
.icons ul li{
    list-style:none;
}
.icons ul li i {
    font-size:1.5rem;
}
.icons ul li a {
    text-decoration: none;
    color:white;
}
.fab{
    width:50px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-list li:nth-child(1){
    background-color: #1877F2;
    border-radius:50%;
    transition:0.5s ease;
}
.icon-list li:nth-child(2){
    background-color: #1DA1F2;
    border-radius:50%;
    transition:0.5s ease;
}
.icon-list li:nth-child(3){
    background-color: #5865F2;
    border-radius:50%;
    transition:0.5s ease;
}

.icon-list li:hover:nth-child(1){
    background-color: #567dd3;
}
.icon-list li:hover:nth-child(2){
    background-color: #398abd;
}
.icon-list li:hover:nth-child(3){
    background-color: #5a61af;
}

@media all and (max-width:1019px){
    .sign-up p{
        font-size:0.9rem;
    }
}
 @media all and (max-width:914px){
    .sign-up p{
        font-size:0.81rem;
    }
}
@media all and (max-width:878px){
    .sign-up p{
        font-size:0.81rem;
    }
}
@media all and (max-width:878px){
    .sign-up p{
        font-size:0.91rem;
    }
    section .imgBx{
        position: absolute;
        width: 100%;
        z-index:0;
    }
    section .contentBx{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        z-index:1;

    }
    section .contentBx .formBx{
        width: 100%;
        padding:3em 5em;
        background:rgba(255, 255, 255, 0.9);
        margin:2em;
    }
}
@media all and (max-width:461px){
    .sign-up p{
        font-size:0.79rem;
        font-weight:500;
    }
}
@media all and (max-width:451px){
    .sign-up p{
        font-size:0.79rem;
        font-weight:500;
    }
}